<% include _header %>

<div class="container">
  <div id="banner" class="page-header">
    <div class="row">
      <div class="col-lg-8">
        <h1><%= pageHeader.title %><small>&nbsp;<%= pageHeader.strapline %></small></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <% if (message) { %>
        <div class="panel panel-danger">
          <div class="panel-heading">
            Alert
          </div>
          <div class="panel-body">
            <%= message %>
          </div>
        </div>
      <% } %>
      <div class="row list-group">
        <% locations.forEach(location => { %>
          <div class="col-xs-12 list-group-item">
            <h4>
              <a href="/location"><%= location.name %></a>
              <small>
                &nbsp;
                <%- include('_includes/rating', { rating: location.ratingAverage }); %>
                &nbsp;
                <% if (location.numOfReviews < 2) { %>
                  (<%= location.numOfReviews %> review)
                <% } else { %>
                  (<%= location.numOfReviews %> reviews)
                <% } %>
              </small>
              <span class="badge pull-right badge-default"><%= (location.distance / 1000).toFixed(1) %> km</span>
            </h4>
            <p class="address"><%= location.address %></p>
            <p>
              <% location.facilities.forEach(facility => { %>
                <span class="label label-warning"><%= facility %></span>&nbsp;
              <% }) %>
            </p>
          </div>
        <% }) %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead"><%= sidebar %></p>
    </div>
  </div>
</div>
    
<% include _footer %>
